button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #4CAF50;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
  font-size: 15px;
  color:white;
}

button:hover {
  background-color: #cfd8dc;
  color:black;
}

.details {
	margin: 20px auto;
	text-align: center;
}

input, label {
	text-align: left;
	padding:1px;
}