<!doctype html>
<html ng-app="caculator">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-animate.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="calculator.js"></script>

	<!-- CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css">

  </head>
  <body>



<div ng-controller="CalculatorController as calData">
	<div class="container">
	<h1>Calculator V1</h1>
	<form>
		<button class="btn-lg btn-primary btn-block" type="button" data-toggle="collapse" data-target="#step-1" aria-controls="step-1">Aquisition Costs: {{calData.aquisition()|currency}} </button>
		<div class="collapse in" id="step-1">
			<div class="form-group row" >
				<label class="col-sm-2 col-lg-2 col-md-2">Desired Gain:</label>
				<div class="col-sm-4 col-lg-4 col-md-4">
					<input class="form-control" type="text" ng-model="calData.purchaseValue" placeholder="Enter a first value here">
				</div>
				<a href="#" data-toggle="tooltip" data-placement="right" style="color:black;" title="Something usefull for user"> <span class="glyphicon glyphicon-question-sign"></span></a>
			</div>
			<div class="form-group row">
				<label class="col-sm-2">Closing Cost:</label>
				<div class="col-sm-4 input-group">
					<input class="form-control" min="0" type="number" ng-model="calData.closingCost" ng-change="onChange()" placeholder="Enter a second value here">
					<span class="input-group-addon">%</span>
				</div>

			</div>
		</div>
	<button class="btn-lg btn-success btn-block" type="button" data-toggle="collapse" data-target="#step-2" aria-controls="step-2">Repair and Holding Costs: {{calData.expense()|currency}} </button>
	<div class="collapse" id="step-2" >
		<div class="form-group row">
			<label class="col-sm-2">Est. Renovation/Repair Costs:</label>
			<div class="col-sm-4">
				<input class="form-control" type="number" ng-model="calData.repairCost" placeholder="Enter a second value here">
			</div>
			<a href="#" data-toggle="tooltip" data-placement="right" style="color:black;" title="Something usefull for user"> <span class="glyphicon glyphicon-question-sign"></span></a>
		</div>
		<div class="form-group row">
			<label class="col-sm-2">Monthly Expenses:</label>
			<div class="col-sm-4">
				<input class="form-control" type="number" ng-model="calData.monthlyExpenses" placeholder="Enter a second value here">
			</div>
			<a href="#" data-toggle="tooltip" data-placement="right" style="color:black;" title="Something usefull for user"> <span class="glyphicon glyphicon-question-sign"></span></a>
		</div>
		<div class="form-group row">
			<label class="col-sm-2" >Holding Period to Rehab and Sell:</label>
			<div class="col-sm-4 input-group">
				<input class="form-control" type="number" ng-model="calData.holdingPeriod" placeholder="Enter a second value here">
				<span class="input-group-addon">months</span>
			</div>
		</div>
	</div>

	<button class="btn-lg btn-primary btn-block" type="button" data-toggle="collapse" data-target="#step-3" aria-controls="step-3">Sales Costs: {{calData.sales()|currency}} </button>
	<div class="collapse" id="step-3">
		<div class="form-group row">
			<label class="col-sm-2">Property Sale Value:</label>
			<div class="col-sm-4">
				<input class="form-control"  type="number" ng-model="calData.saleValue" placeholder="Enter a second value here">
			</div>
			<a href="#" data-toggle="tooltip" data-placement="right" style="color:black;" title="Something usefull for user"> <span class="glyphicon glyphicon-question-sign"></span></a>
		</div>
		<div class="form-group row">
			<label class="col-sm-2">Sale Closing Costs:</label>
			<div class="col-sm-4">
				<input class="form-control" type="number" ng-model="calData.saleClosingCost" placeholder="Enter a second value here">
			</div>
			<a href="#" data-toggle="tooltip" data-placement="right" style="color:black;" title="Something usefull for user"> <span class="glyphicon glyphicon-question-sign"></span></a>
		</div>
		<div class="form-group row">
			<label class="col-sm-2">Agent Commission Fee:</label>
			<div class="col-sm-4 input-group">
				<input class="form-control" type="number" ng-model="calData.commissionFee" placeholder="Enter a second value here">
				<span class="input-group-addon">%</span>
			</div>
		</div>
	</div>
	<button class="btn-lg btn-success btn-block" type="button" data-toggle="collapse" data-target="#result" aria-controls="result">See Results</button>
	<div class="collapse" id="result">
		<div class="form-group row">
			<label class="col-sm-2">Total Project Costs:</label>
			<span class="help-block">{{calData.cost()|currency}}</span>

			<label class="col-sm-2">Sale Revenue:</label>
			<span class="help-block">{{calData.revenue()|currency}}</span>

			<label class="col-sm-2">Total Profit:</label>
			<span class="help-block">{{calData.profit()|currency}}</span>

			<label class="col-sm-2">Returns:</label>
			<span class="help-block">{{calData.returns()|currency}}</span>
		</div>
	</div>

	</form>
  </div>
</div>
</body>
</html>