<div  class="row year-container" > 
	<table  class="" >
		<tbody>
			<tr class="header-row">
				<td></td>
				<th class="align-right">Year 1</th>
				<th class="align-right">Year 2</th>
				<th class="align-right">Year 3</th>
				<th class="align-right">Year 5</th>
				<th class="align-right">Year 10</th>
				<th class="align-right">Year 20</th>
				<th class="align-right">Year 30</th>
			</tr>

			<tr >
				<td>Total Annual Income</td>
				<td class="align-right" *ngFor="let year of results.years">
					{{year.annualIncome | currency:'USD':true}}
				</td>
			</tr>
			<tr>
				<td>Total Annual Expenses</td>
				<td class="align-right" *ngFor="let year of results.years">
					{{year.annualExpense|currency:'USD':true}}
				</td>
			</tr>
			<tr>
				<td class="padded-1">Mortgage Payment</td>
				<td class="align-right" *ngFor="let year of results.years">
					{{year.annualMortgage|currency:'USD':true}}
				</td>
			</tr>
			<tr>
				<td class="padded-1">Operating Expenses</td>
				<td class="align-right" *ngFor="let year of results.years">
					{{year.annualOperating|currency:'USD':true}}
				</td>

			</tr>
			<tr>
				<td>Total Annual Cash Flow</td>
				<td class="align-right" *ngFor="let year of results.years">
					{{year.annualCashflow|currency:'USD':true}}
				</td>
			</tr>
			<tr>
				<td>Cash on Cash ROI</td>
				<td class="align-right" *ngFor="let year of results.years">
					{{year.cashROI|percent:'1.0-2'}}
				</td>
			</tr>
			<tr>
				<td>Property Value</td>
				<td class="align-right" *ngFor="let year of results.years">
					{{year.propertyValue|currency:'USD':true}}
				</td>
			</tr>
			<tr>
				<td>Equity</td>
				<td class="align-right" *ngFor="let year of results.years">
					{{year.equity|currency:'USD':true}}
				</td>
			</tr>
			<tr>
				<td>Loan Balance</td>
				<td class="align-right" *ngFor="let year of results.years">
					{{year.loanBalance|currency:'USD':true}}
				</td>
			</tr>
			<tr>
				<td>Total Profit If sold</td>
				<td class="align-right" *ngFor="let year of results.years">
					{{year.totalProfit|currency:'USD':true}}
				</td>
			</tr>
			<tr>
				<td>Total Return</td>
				<td class="align-right" *ngFor="let year of results.years">
					{{year.totalReturn| percent:'1.0-2'}}
				</td>
			</tr>
		</tbody>
	</table>
</div>